
@import url('font.css');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy', sans-serif;
    background: url(img/home-dark-1.png) no-repeat;
    /* background-position: center; */
    background-size: cover;
    display: block; 
}

.nav-bar-wrap{
    margin-top: 37px;
    width: 100%;
    height: 56px;
    /* display: inline-flex; */
    position: fixed;
    top: 0;
    z-index: 10;
}
.nav-bar{
    width: 96.5%;
    height: 56px;
    margin: auto;
    display: flex;
    border: 0.5px solid #FFF;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 51.442px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(18.156171798706055px);
     @media(max-width: 768px){
        font-size: 12px;
    }
    
}
.logo{
    display: flex;
    width: 197.883px;
    height: 56px;
    align-items: center;
    position: absolute;
}
.logo-txt{
    color: #FFF;
    font-family: Gilroy;
    font-size: 20.324px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    @media(max-width: 768px){
        font-size: 14px;
    }
}
.nav-bar ul{
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.nav-bar a{
    display: block;
    text-decoration: none;
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media(max-width: 768px){
        font-size: 12px;
    }
    
}
.menu-line{
    border-left: 0.5px solid white; 
    height: 23px;
}
.omni-chain-wrap{
    width: 100%;
    height: 439px;
    margin-top: 186px;
    display: flex;
    justify-content: center;
    @media(max-width: 1024px){
        margin-top: 66px;
    }
    @media(max-width: 768px){
        margin-top: 140px;
    }
}
.omni-chain{
    width: 88.9%;
    max-width: 1280px;
    display: flex;
    gap: 14.488%;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 500px;
    }
}
.omni-chain .text-grp{
    margin-top: auto;
}
.omni-chain .text-grp .title{
    width: 462px;
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media(max-width: 1024px){
        font-size: 34px;
    }
}
.omni-chain .text-grp .text{
    width: 614.689px;
    color: #FFF;
    font-family: Gilroy UltraLight;
    font-size: 24px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    letter-spacing: 1.92px;
    margin-top: 30px;
    @media(max-width: 1024px){
        font-size: 18px;
        width: 437px;
    }
}
.access-btn{
    width: 179.144px;
    height: 43px;
    margin-top: 54px;
}
.access-btn a{
    text-decoration: none;
    color: black;
    color: #000;
    font-family: Gilroy Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.12px;
}
.rect1{
    width: 170.187px;
    height: 43px;
    background: linear-gradient(180deg, #6F73F5 0%, #D675AB 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8.96px;
}
.rect1 p{
    margin-right: 5.6px;
    
}
.rect2{
    width: 170.187px;
    height: 43px;
    background: #FFF;
    margin-top: -43px;
}
.img-wrap{
    display: flex;
    width: 37.5%;
}
.img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.supported-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 165px;
}
.supported{
    width: 88.9%;
    justify-content: center;
    align-items:center;
}
.supported p{
    color: #FFF;
    font-family: Gilroy UltraLight;
    font-size: 24px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    letter-spacing: 1.92px;
    text-align: center;
}
.sup-logo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.everyday-wrap{
    display: flex;
    width: 100%;
    margin-top: 195px;
    justify-content: center;
    @media(max-width: 1024px){
        margin-top: 140px;
    }
}
.everyday{
    width: 88.9%;
    display: block;
    
}
.everyday-title{
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media(max-width: 1024px){
        font-size: 34px;
    }
}
.everyday-card-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin-left: 64px;
    margin-top: 64px;
    gap: 40px;
    @media(max-width: 1024px){
       gap: 20px;
    }
    @media(max-width: 768px){
       justify-content: center;
    }

}
.everyday-card{
    width: 48%;
    border: 0.5px solid #FFF;
    background: rgba(171, 171, 171, 0.02);
    display: block;
    /* margin-bottom: 40px; */
    @media(max-width: 1024px){
        width: 416px;
    }
}
.card-title{
    width: 100%;
    height: 29px;
    margin-top: 21px;
    margin-left: 24.5px;
    color: #FFF;
    font-family: Gilroy Regular;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
    @media(max-width: 1024px){
        font-size: 18px;
    }
}
.card-txt{
    width: 100%;
    color: #FFF;
    font-family: Gilroy Regular;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.12px;
    float: right;
    text-align: end;
    margin-top: 57px;
    margin-right: 34.05px;
    margin-bottom: 34.05px;
    @media(max-width: 1024px){
        font-size: 45px;
    }
}
.restaking-wrap{
    margin-top: 210px;
    width: 100%;
    font-family: 'Gilroy', sans-serif;
    background: url(img/Section4-bg.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-bottom: 550px;
    @media(max-width: 1024px){
        background: url(img/Section4-bg-1024.png) no-repeat;
        background-size: cover;
        @media (max-width: 768px) {
            padding-bottom: 250px;
        }
    }
   
}
.restaking{
    width: 88.9%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 137px; */
    @media (max-width: 768px) {
        display: flex;
        flex-direction: space-between;
        align-items: center;
        margin-top: 50px;
    }
}
.restaking .text-block{
    margin:auto;
}
.restaking .text-block .title{
    width: 50%;
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media(max-width: 1024px){
        font-size: 34px;
        @media(max-width: 768px){
            font-size: 28px;
        }
    }
}
.restaking .text-block .text{
    width: 75%;
    margin-top: 30px;
    color: #FFF;
    font-family: Gilroy UltraLight;
    font-size: 24px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    letter-spacing: 1.92px;
    @media(max-width: 1024px){
        font-size: 18px;
        @media(max-width: 768px){
            font-size: 14px;
        }
    }
    
}
.img-block{
    display: flex;
    width: 60%;
    margin: auto;
    @media(max-width: 768px){
        width: 50%;
    }
}
.img-block img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.advantages-wrap{
    width: 100%;
    margin-top: 102px;
    display: flex;
    justify-content: center;
    @media(max-width: 1024px){
        margin-top: 73px;
        @media(max-width: 768px){
            margin-top: 150px;
        }
    }
}
.advantages{
    width: 88.9%;
    max-width: 1280px;
    display: block;
}
.advantages .text-grp .title{
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media(max-width: 1024px){
        font-size: 34px;
    }
}
.advantages .text-grp .text{
    color: #FFF;
    font-family: Gilroy UltraLight;
    font-size: 24px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    letter-spacing: 1.92px;
    margin-top: 30px;
    @media(max-width: 1024px){
        font-size: 18px;
    }
}
.card-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    @media(max-width: 768px){
        gap: 15px;
    }
    
}
.info-card{
    border: 0.5px solid #FFF;
    width: 32%;
    height: 211px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 23px;
    @media(max-width: 1024px){
        width: 290px;
        height: 150px;
    }
}
.info-card p{
    color: #FFF;
    text-align: center;
    font-family: Gilroy Medium;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.56px;
    @media(max-width: 1024px){
        font-size: 23px;
    }
}
#card1{
    background: url(img/bg1-dark.png) no-repeat;
    background-size: cover;
}
#card1 p{
    width: 43.8%;
}
#card2{
    background: url(img/bg2-dark.png) no-repeat;
    background-size: cover;
}
#card2 p{
    width: 60%;
}
#card3{
    background: url(img/bg3-dark.png) no-repeat;
    background-size: cover;
}
#card3 p{
    width: 60%;
}
#card4{
    background: url(img/bg4-dark.png) no-repeat;
    background-size: cover;
}
#card4 p{
    width: 75%;
}
#card5{
    background: url(img/bg5-dark.png) no-repeat;
    background-size: cover;
}
#card5 p{
    width: 60%;
}
#card6{
    background: url(img/bg6-dark.png) no-repeat;
    background-size: cover;
}
#card6 p{
    width: 60%;
}
.ecosystem-wrap{
    width: 100%;
    display: flex;
    margin-top: 240px;
    @media(max-width: 1024px){
        margin-top: 170px;
    }
}
.ecosystem{
    width: 88.9%;
    max-width: 1280px;
    background: url(img/Section6-bg.png) no-repeat;
    background-size: cover;
    margin: auto;
    padding-top: 66px;
    padding-bottom: 200px;
    @media(max-width: 1024px){
        background: url(img/Section6-bg-1024.png) no-repeat;
        background-size: auto;
    }
}
.ecosystem .text-grp{
    width: 55.8%;
    display: block;
    margin: auto;
}
.ecosystem .text-grp .title{
    color: #FFF;
    text-align: center;
    font-family: Gilroy Light;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media(max-width: 1024px){
        font-size: 34px;
    }
}
.ecosystem .text-grp .text{
    color: #FFF;
    text-align: center;
    font-family: Gilroy UltraLight;
    font-size: 24px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    letter-spacing: 1.92px;
    margin-top: 30px;
    @media(max-width: 1024px){
        font-size: 18px;
    }
}
.ecosystem .text-grp .number{
    color: #FFF;
    text-align: center;
    font-family: Gilroy Regular;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.84px;
    margin-top: 30px;
    @media(max-width: 1024px){
        font-size: 34px;
    }
}
.ecosystem .text-grp .subtitle{
    color: #FFF;
    text-align: center;
    font-family: Gilroy UltraLight;
    font-size: 24px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    letter-spacing: 1.92px;
    margin-top: 15px;
    @media(max-width: 1024px){
        font-size: 18px;
    }
}
.blog-wrap{
    width: 100%;
    display: block;
    justify-content: center;
    @media(max-width: 1024px){
        margin-top: 150px;
        @media(max-width: 768px){
           margin-top: 50px;
        }
    }
}
.blog{
    width: 88.9%;
    max-width: 1280px;
    display: block;
    margin: auto;
}
.blog-txt-grp{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.blog-txt-grp .title{
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media(max-width: 1024px){
        font-size: 34px;
    }
}
.btn-wrap{
    width: 140px;
    display: flex;
    /* justify-content: end; */
    position: relative;
    align-items:center;
    
}
.swiper-button-next:after{
    color:#FFF;
}
.swiper-button-prev:after{
    color:#FFF;
}
.overflow-swiper{
    overflow-x: hidden;
    padding: 0 12px;
}
.swiper-container{
    position: relative;
    
}
.swiper-wrapper{
}
.swiper-slide{
    width: 410px;
}
.post-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    width: 410px;
    max-width: 410px;
    height: 410px;
    max-height: 400px;
    border: 0.3px solid #FFF;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 51.442px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(18.156171798706055px);
    @media(max-width: 1024px){
        width: 280px;
        height: 290px;
    }
    @media(max-width: 768px){
        width: 210px;
        height: 220px;
    }
    
  }
  .post-card .card-title {
    margin-bottom: 15px;
    text-align: start;
    padding: 0 15px;
    width: 100%;
    @media(max-width: 768px){
       font-size: 12px;
    }
  }
  .post-card img {
    display: flex;
    object-fit: cover;
    width: 100%;
  }
  .security-wrap{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 295px;
    @media(max-width: 1024px){
        margin-top: 210px;
    }
  }
  .security{
    width: 88.9%;
    max-width: 1280px;
    display: block;
  }
  .security .title{
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media(max-width: 1024px){
        font-size: 34px;
    }
  }
  .security .text{
    color: #FFF;
    font-family: Gilroy UltraLight;
    font-size: 24px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    letter-spacing: 1.92px;
    @media(max-width: 1024px){
        font-size: 18px;
        margin-top: 22px;
    }
  }
  .logo-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
  }
  .logo-card{
    width: 236px;
    height: 88px;
    border: 0.5px solid #FFF;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
  }
  .token-sale-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 267px;
    @media(max-width: 1024px){
        margin-top: 190px;;
    }
  }
  .token-sale{
    width: 36%;
    display: block;
    align-items:center;
    justify-content: center;
  }
  .token-sale .title{
    color: #FFF;
    text-align: center;
    font-family: Gilroy Regular;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media(max-width: 1024px){
        font-size: 28px;
    }
  }
  .timer-wrap{
    width: 100%;
    margin-top: 31px;
    border: 0.453px solid #FFF;
    display: flex;
    justify-content: center;
    padding-bottom: 53px;
    @media(max-width: 768px){
        padding-bottom: 30px;
    }
  }
  .timer-el{
    width: 121px;
    display: block;
    justify-content: center;
    align-items:center;
    margin-top: 53px;
    @media(max-width: 768px){
       margin-top: 30px;;
    }
  }
  .timer-el .number{
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    @media(max-width: 768px){
        font-size: 34px;
    }
    }
  .timer-el .text{
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    @media(max-width: 768px){
        font-size: 21px;
    }
  }
  #center-el{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
  }
  .buy-btn{
    width: 179.144px;
    height: 43px;
    margin: auto;
    margin-top: 75px;
    @media(max-width: 768px){
        margin-top: 50px;
    }
  }
  .buy-btn a{
    text-decoration: none;
    color: #000;
    font-family: Gilroy Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.12px;
  }
  .buy-btn a.disabled {
    pointer-events: none;
  }
  .last-section-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 126px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
  }
  .last-section{
    width: 88.9%;
    max-width: 1280px;
    display: block;
  }
  .last-section .logo-last{
    display: flex;
    width: 197.883px;
    height: 56px;
    align-items: center;
}
.last-section .logo-txt-last{
    color: #FFF;
    font-family: Gilroy;
    font-size: 20.324px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-left: -18px; */
    text-align: center;
}
.last-section .text{
    width: 340px;
    margin-top: 15px;
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.footer-wrap{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 46px;
    padding-bottom: 46px;
}
.footer-txt{
    width: 88.9%;
    max-width: 1280px;
    display: flex;
    gap: 32px;
}
.footer-txt .text{
    display: block;
    color: #FFF;
    font-family: Gilroy Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media(max-width: 1024px){
        font-size: 12px;
    }
}